.card_container {
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    .card_container{ 
        width: 100%;
        margin: 10px;
    }

    .date_logo_container {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo_image {
            max-width: 100px;
            max-height: 60px;
            margin: 10px auto;
        }
    }
}

.carousel_container {
    border-bottom: 1px solid black;
    padding: 5px;
}
